.DS_Store
.idea/
__pycache__

ob/router/__pycache__/
poetry.lock

oca_nats_config.egg-info/

oca_nats_config/configuration/*
!oca_nats_config/configuration/.gitkeep


venv/
.venv/
.ipynb_checkpoints/

/docker/nats/nats-log/
/docker/nats/nats-store/